@model GraniteHouse.Models.ViewModel.ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<br />  <br />
<h2 class="text-info">Your Shopping Cart</h2>
<form method="post">
    @if (Model.Products.Count > 0)
    {
        <div class="container border border-secondary rounded" style="padding:15px;">
            <div class="row">
                <div class="col-8" style="border-right: 1px solid #bbb9b9;">
                    <table class="table table-striped" width="100%">

                        <tr class="table-info">
                            <th class="text-center" width="20%"></th>
                            <th class="text-center">
                                <label asp-for="@Model.Products.FirstOrDefault().Name"></label>
                            </th>
                            <th class="text-center">
                                <label asp-for="@Model.Products.FirstOrDefault().Price"></label>
                            </th>
                            <th class="text-center">
                                <label asp-for="@Model.Products.FirstOrDefault().ShadeColor"></label>
                            </th>
                            <th class="text-center">
                                <label asp-for="@Model.Products.FirstOrDefault().ProductTypes.Name"></label>
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.Products)
                        {
                            <tr style="padding: 50px;" class="justify-content-">
                                <td>
                                    <a asp-area="Customer" asp-action="Details" asp-controller="Home" asp-route-id="@item.ID">
                                        <img src="@item.Image" alt="imgae" class="img-thumbnail" />
                                    </a>
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(m => item.Name)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(m => item.Price)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(m => item.ShadeColor)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(m => item.ProductTypes.Name)
                                </td>
                                <td><button class="btn btn-danger" type="submit" asp-action="Remove" asp-route-id="@item.ID"><i class="fas fa-trash"></i></button></td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class=" col-12 ">
                            <label>Name: </label>
                        </div>
                        <div class="col-12" style="padding-bottom: 15px;">
                            <input asp-for="@Model.Appointments.CustomerName" class="form-control" />
                        </div>

                        <div class=" col-12 ">
                            <label>Phone Number: </label>
                        </div>
                        <div class="col-12" style="padding-bottom: 15px;">
                            <input asp-for="@Model.Appointments.CustomerPhoneNumber" class="form-control" />
                        </div>

                        <div class=" col-12 ">
                            <label>Email: </label>
                        </div>
                        <div class="col-12" style="padding-bottom: 15px;">
                            <input asp-for="@Model.Appointments.CustomerEmail" class="form-control" />
                        </div>

                        <div class=" col-12 ">
                            <label>Appointment Date: </label>
                        </div>
                        <div class="col-12" style="padding-bottom: 15px;">
                            <input asp-for="@Model.Appointments.AppointmentDate" value="" type="text" id="datepicker" class="form-control" />
                        </div>

                        <div class=" col-12">
                            <label>Appointment Time: </label>
                        </div>
                        <div class="col-12" style="padding-bottom: 15px;">
                            <input asp-for="@Model.Appointments.AppointmentTime" value="" type="text" id="timepicker" class="form-control" />
                        </div>

                        <div class="col-12 text-center">
                            <button class="btn btn-success" type="submit">Schedule Appointment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>No items in your cart</div>
    }

</form>


@section Scripts{
    <script>
        $('#timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '10',
            maxTime: '6:00pm',
            defaultTime: '10',
            startTime: '10:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

        $(function () {
            $("#datepicker").datepicker({
                minDate: +1, maxDate: "+3M"
            });
        });
    </script>
}