
@model List<Martial.Models.Albums>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .same-height {
        height: 300px;
        object-fit: cover;
    }
</style>

<h3 class="text-info">Albums List</h3>


@if (Model.Count > 0)
{
    @foreach (var album in Model)
    {
        <div id="album_@album.Id.ToString()" class="border border-primary rounded mt-3 px-3">
            <div class="image row text-center">

                @foreach (var picture in album.Pictures.Take(4))
                {
                    <div class="col-lg-3 col-6 text-center" id="divParent_@picture.Id">
                        <img alt="Alternate Text" src="@picture.Path" class="img-fluid same-height rounded w-100 my-1 mt-3" id="image_@picture.Id" />
                    </div>
                }
            </div>
            <hr />

            @* Information about album *@
            <div class="information">
                <a class="btn btn-sm text-info" asp-action="Details" asp-route-id="@album.Id"><h3>@album.Name</h3></a>
                @if (album.Descriptions != null && album.Descriptions.Length > 150)
                {
                    <p>@album.Descriptions.Substring(0, 150)....</p>
                }
                else
                {
                    <p>@album.Descriptions</p>
                }
            </div>
        </div>
    }
}
else
{
    <div class="text-warning"><i>Don't have albums.</i></div>
}

