@model IEnumerable<GraniteHouse.Models.ProductTypes>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product Type List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"> <i class="fas fa-plus"></i> &nbsp; New Product Type</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">

        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p class="">@item.Name</p>
                </td>
                <td class="text-right">

                    <partial name="~/Views/Shared/_TableButtonPartial.cshtml" model="@item.ID" />

                </td>
            </tr>
        }

    </table>
</div>



@*<a class="btn btn-sm btn-warning" asp-route-id="@item.ID" asp-action="Edit"><i class="fas fa-pen"></i></a>
    <a class="btn btn-sm btn-success" asp-route-id="@item.ID" asp-action="Details"><i class="fas fa-list"></i></a>
    <a class="btn btn-sm btn-danger" asp-route-id="@item.ID" asp-action="Delete" ><i class="fas fa-trash"></i></a>*@
